In [1]:
import pandas as pd

In [2]:
person = {
    "first": ["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["coreymschafer@gmail.com", "janedoe@email.com", "johndoe@email.com"]
}

In [3]:
df = pd.DataFrame(person)

In [4]:
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@email.com
2   John      Doe        johndoe@email.com